$header-color: #000
$color-titulo: #FFF
$color-extra-header: #AAAAAA
$color-fondo: #FFF

body
    font-family: Open Sans

.navbar-nav 
    width: 100%
    text-align: center
    li 
        float: none
        display: inline-block

header
    text-align: center
    padding: 20px
    h1
        color: $color-titulo
    p
        color: $color-extra-header
        max-width: 40em
        text-align: center
        margin: 0 auto

.contenido-blog
    background-color: $color-fondo
    padding: 90px
    text-align: center

.navbar-inverse
    margin-bottom: 0px
